name: Deploy stagingchicagostarmedia on push
on:
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy website
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Get latest code
        uses: actions/checkout@v4
      # Sync files via FTP
      - name: Sync files via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.bytemights.com
          username: stagingchicagostarmedia@bytemights.com
          password: 1+c]~X&mjak!


